/* This is the main style sheet for the portfolio */

.topNavBar
{
    padding-bottom: 35px;
    border: 0px;
    margin-bottom: 50px;
    background-color: #ffffff;
    height: 85px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 100;
}

.navContent
{
    width: 960px;
    position: sticky;
    text-align: center;
    margin: 0 auto;
}

.name
{
    color: White;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 60px;
    padding: 25px;
    width: 426px;
    float: left;
    height: 70px;
}

myDescription
{
    float: left;
    background-color: #ffffff;
    width: 650px;
}

.navLinks
{
    color: #777777;
    float: right;
    height: 85px;
    padding-left: 42.5px;
    padding-bottom: 42.5px;
    padding-top: 42.5px;
    padding-right: 0px;
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.indexLink
{
    display: inline-block;
}

.portfolioLink
{
    display: inline-block;
    border-left: 1px solid #777777;
    border-right: 1px solid #777777;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.contactLink
{
    display: inline-block;
}

.miniTitle
{
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 50px;
    width: 600px;
    padding-bottom: 20px;
    border-bottom: 3px solid #777777;
    margin-bottom: 20px;
}

.aboutMe
{
    float: left;
}

.portfolioSection
{
    float: left;
}

.mainContainers
{
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
}

.mainContainers::after{
    content:"";
    clear:both;
    display:block;
}

.myDescription
{
    padding-left: 20px;
    padding-bottom: 50px;
    padding-right: 0px;
    width: 650px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    float: left;
    margin-top: 180px;
    margin-right: 10px;
    margin-left: 0;
    margin-bottom: 0;
}

.myPortfolio
{
    padding-left: 20px;
    padding-bottom: 50px;
    padding-right: 0px;
    width: 650px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    float: left;
    margin-top: 180px;
    margin-right: 10px;
    margin-left: 0;
    margin-bottom: 0;
}

.brockPic
{
    width: 240px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0;
    float: left;
}

.paragraphs
{
    font-size: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 600px;
}

.socialSection
{
    float: right;
    width: 270px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    font-size: 30px;
    color: #4aaaa5;
    height: 250px;
    padding-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 180px;
    margin-bottom: 0px;
}

.socialPics
{
    padding-top: 25px;
}

.connect
{
    padding-right: 10px;
    padding-left: 30px;
    padding-bottom: 25px;
    border-bottom: 3px solid #777777;
    width: 225px;
}

input[type=text], select 
{
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #777777;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] 
{
    width: 150px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #777777;
    border-radius: 4px;
}

input[type=submit]:hover
{
    background-color: #777777;
    border: 1px solid #4aaaa5;
}

input[type=submit]:active
{
    background-color: #777777;
    border: 2px solid #4aaaa5;
}

input[type=submit]:focus
{
    background-color: #777777;
    border: 1px solid #4aaaa5;
}

#message
{
    height: 300px;
}

.push
{
    height: 50px;
}

footer
{
    width: 100%;
    height: 50px;
    margin-top: 200px;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    display: inline-block;
    text-align: center;
    padding-top: 25px;
    position:absolute;
    bottom:0;
}

#footerInfo
{
    padding-top: 20px;
    color: white;
}

body
{
    background-color: #ffffff;
}